@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Sora:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  overflow-x: hidden !important;
}

/* Untuk Webkit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 10px; /* Lebar scrollbar */
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    141deg,
    #3a8ef6 0%,
    #6f3afa 100%
  ); /* Warna latar belakang thumb */
  border-radius: 5px; /* Sudut melengkung pada thumb */
}

::-webkit-scrollbar-track {
  background: #f0f0f0; /* Warna latar belakang track */
}

@layer base {
  .button-primary {
    @apply font-semibold text-white;
  }

  .heading__small {
    @apply text-primary-dark text-[32px] font-semibold;
  }

  .text__heading-small {
    @apply text__heading text-primary-text-gray text-[16px];
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

li,
a,
p {
  font-family: "Sora", sans-serif;
}

.blue-button {
  border-radius: 100px;
  background: linear-gradient(141deg, #3a8ef6 0%, #6f3afa 100%);
  box-shadow: 0px 8px 23px 0px rgba(65, 132, 247, 0.24);
  padding: 16px 28px;
}

.white-button {
  border-radius: 100px;
  background: #fff;
  box-shadow: 0px 8px 23px 0px rgba(65, 132, 247, 0.24);
  padding: 16px 28px;
}

.outline-button {
  border-radius: 100px;
  border: 1px solid #fff;
  box-shadow: 0px 8px 23px 0px rgba(65, 132, 247, 0.24);
  padding: 16px 28px;
}

.heading__big {
  background: linear-gradient(141deg, #3a8ef6 0%, #6f3afa 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  line-height: normal;
}

.text__heading {
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.card_services {
  border-radius: 24px;
  box-shadow: 0px 24px 32px -3px rgba(3, 9, 50, 0.04);
}

.reservasi__box {
  border-radius: 32px;
  background: linear-gradient(141deg, #3a8ef6 0%, #6f3afa 100%);
  box-shadow: 0px 20px 24px 0px rgba(65, 132, 247, 0.24);
}

.card__testimonial {
  border-radius: 32px;
  background: #fff;
  box-shadow: 0px 24px 32px -3px rgba(3, 9, 50, 0.04);
}

.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #0f0f0f;
  transform-origin: bottom;
}

.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #0f0f0f;
  transform-origin: top;
}
